# Discord Bot Token (Required)
TOKEN=your_bot_token_here

# Discord Webhook URL for logging (Optional)
# If set, logs will be sent to this webhook channel
LOG_WEBHOOK_URL=

# Base URL for the OpenAI client (Optional)
# If unset, this defaults to https://api.openai.com/v1
# If set to blank (by uncommenting this without providing a URL), your OpenAI 
# client will attempt to talk to "blank string" which will fail
# OPENAI_BASE_URL=

# API key for the OpenAI API (Required)
OPENAI_API_KEY=sk-proj-xxxx

# Admin users (Required)
# If unset, admin commands will not be usable
# A comma-seperated list of user IDs allowed to use admin commands, like /echo and /setup
ADMIN_USERS=12345678901234567890,09876543210987654321
